.bruh {
  font-size: small;
  margin-left: 89.5vw;
  margin-top: -0.25vh;
}
.hello {
  margin-left: 5vw;
}

.copy {
  text-align: center;
  margin-top: 0.5vh;
  font-weight: 700;
}

.App {
  color: white;
  
}

.subheader {
  font-size: 150%;
  margin-left: 0.5%;
  color: white;
  font-family: 'custom', sans-serif;
}

.main {
  margin-left: 3%;
  display: flex;
  color: white;
}

.App.apple-theme {
  background-color: white;
  color: #FA233B;
}

.App.spotify-theme {
  background-color: #191414;
  color: white;
}
.copy.apple-theme{
  background-color: #FA233B;
  
}
.copy-spotify-theme{
  background-color:#FA233B;
}

.bruh.apple-theme{
  color: black;
}



