.Header {
    font-size: 7vh;
    color: white; 
    font-family: 'custom', sans-serif;
    font-weight: 100;
    margin-top: 0vh;
    margin-left: 2%;
 }
 
 @font-face {
    font-family: "custom";
    src: url('./circular-std-2.ttf') format('truetype');
 }
 
 .subheader {
    font-size: 150%;
    margin-left: 36%;
    margin-top: -5vh;
    color: white;
    font-family: 'custom', sans-serif;
 }
 
 .main {
    color: white;
    margin-left: 3%;
   
 }
 
 .musDiv {
    margin-top: -7vh;
    margin-left: 90vw;
 }
 
 .spotify, .apmusic {
    color: white;
    transition: 0.3s;
    display: inline-block; 
}
 
 .spotify:hover {
    color: #1DB954;
    cursor: pointer; 
 }
 
 .apmusic:hover {
    color: #ffcccb;
 }

 .apple-theme .main {
    background-color: #FA233B;
    color: white; 
 }
 
 .apple-theme .Header,
 .apple-theme .subheader {
     color: black; 
 }
 
 .apple-theme .apmusic:hover {
    color: #ffcccb;
 }

 .apple-theme .spotify {
    color: black; 
 }
 .apple-theme .apmusic{
    color: black;
 }
 
 .apple-theme .spotify:hover {
    color: #1DB954; 
 }
 