
.sidenav.default-theme {
  background-color: black;
}

.sidenav.default-theme a {
  color: #1DB954; 
}

.sidenav.default-theme .label {
  color: #1DB954;
}


.sidenav.apple-theme {
  background-color: #FA233B; 
}

.sidenav.apple-theme a {
  color: white;
}

.sidenav.apple-theme .label {
  color: white;
}


.sidenav.spotify-theme {
  background-color: #191414; 
}

.sidenav.spotify-theme a {
  color: #1DB954; 
}

.sidenav.spotify-theme .label {
  color: #1DB954;
}


.sidenav {
  height: 77vh;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 5vh;
  margin-left: 2%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
  font-family: 'custom', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.Contact {
  color: white;
  font-family: 'custom', sans-serif;
}

.git:hover,
.linked:hover,
.mail:hover {
  color: #f1f1f1;
  transition: 0.3s;
}

.mainContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40%;

}

.navLinks {
  margin-left: 3vw;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.iconRow {
  display: flex;
  align-items: center;
  
}

.label {
  margin-left: 1vw;
  font-family: 'custom', sans-serif;
  font-size: 20px;
}

/* @media screen and (max-width: 1800px) {
  .sidenav {
    width: 17vw;
    margin-top: 8%;
    height: 75vh;
  }

  .mainContact {
    margin-left: 2vw;
    margin-top: 10vh;
  }

  .Contact {
    margin-top: 3vh;
  }
} */
